<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pyramid_puzzle">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="pyramid_puzzle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.receivers.NotificationBroadcastReceiver"
            android:exported="true" />
        <receiver
            android:name="com.dexterous.flutterlocalnotifications.receivers.RebootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
